<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTDConfig 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>
    <typeAliases>
        <typeAlias type="self.family.entry.TestCase" alias="TestCase"/>
        <typeAlias type="self.family.entry.TestResult" alias="TestResult"/>
        <typeAlias type="self.family.entry.TestVersion" alias="TestVersion"/>
    </typeAliases>
    <plugins>
        <plugin interceptor="self.family.interceptor.PageInterceptor">
        </plugin>
    </plugins>
    <mappers>
        <mapper resource="testcase-mapper.xml"/>
        <mapper resource="testresult-mapper.xml"/>
        <mapper resource="testversion-mapper.xml"/>
    </mappers>

</configuration>